

.preview{
    overflow-y: scroll;
    /* border-left: 1px solid #000; */
    height: 685px !important;
}
.editor .save {
    opacity: 0;
    z-index: 20;
    transition: opacity 0.3;
}
.editor:hover .save {
    opacity: 1;
}
.ql-editor{
    height: 685px !important;
}


